---
    import {Image} from 'astro:assets'
    import Layout from '../layouts/Layout.astro';
    import Nanda from '../assets/about/Talent Coordinator.webp'
    import Gita from '../assets/about/Director and Assistant Director.webp'
    import Crew1 from '../assets/about/crew on set 1.webp'
    import Crew2 from '../assets/about/crew on set 2.webp'
    import Logo from '../assets/logo.webp'
    import Clover from '../assets/about/clover.webp'
    import Aperture from '../assets/about/aperture.webp'
---

<Layout title='About Us | Pro Grace Production'>
    <main>
        <section class="flex items-start flex-col mb-30">
            <div class="mt-20 md:mt-30 2xl:ml-20 max-w-7xl">
                <div class="px-5 max-w-3xl">
                    <h2 class="font-display text-[24px] -mb-4 text-nowrap sm:text-4xl sm:-mb-2">About</h2>
                    <h3 class="font-heading tracking-widest text-[28px] font-bold mb-5 text-nowrap sm:text-[40px]">PRO GRACE</h3>
                    <p class="font-display text-[14px] text-justify tracking-wide sm:text-[16px]">PRO GRACE PRODUCTION is a creative production team based in Yogyakarta, inspired by the values of our 2024 cohort, FOUR PRIDE. The name combines "Pro," representing our cohort identity, and "Grace," symbolizing elegance and good fortune.</p>
                </div>
                <div class="hidden sm:grid grid-cols-6 p-5 gap-4">
                    <figure class="col-span-4">
                        <Image src={Gita} alt="The Director and Assistant Director" class="m-full h-full object-cover rounded-s-2xl" loading="eager" decoding="async"/>
                    </figure>
                    <figure class="col-span-2">
                        <Image src={Nanda} alt="Betrics Martina"  class="m-full h-full object-cover rounded-e-2xl" decoding="async" loading="eager"/>
                    </figure>
                </div>
            </div>
        </section>

        <section class="p-5 2xl:pl-20 py-10 bg-[#1E1E1E]">
            <h2 class="text-[26px] sm:text-4xl font-display font-bold mb-5">Our <br>Core Values</h2>
            <p class="font-display text[14px] sm:text-[16px] tracking-wide opacity-95 pb-5">Our work is guided by four core values:</p>
            <div class="flex items-end justify-end relative mt-15">
                <figure>
                    <Image src={Crew1} loading="lazy" decoding="async"  alt="Crew on set" class="core-values-img"/>
                </figure>
                <div class="core-values-list left-0 md:place-items-start 2xl:left-40">
                    <div class="core-values-item">
                        <span class="core-number">01</span>
                        <div class="core-caption">
                            <h3 class="core-values">Gratitude</h3>
                            <p>We believe every story is a gift. We approach every frame and every collaboration with a deep appreciation for the opportunity to create, ensuring that our work remains grounded and purposeful.</p>
                        </div>
                    </div>
                    <div class="core-values-item">
                        <span class="core-number">02</span>
                        <div class="core-caption">
                            <h3 class="core-values">Optimism</h3>
                            <p>In the face of production challenges, we choose to see possibilities. We believe that with the right mindset, every "obstacle" is simply an opportunity to find a more innovative visual solution.</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="flex items-start justify-start relative pt-5 md:mt-30 lg:mt-15">
                <figure>
                    <Image src={Crew2} loading="lazy" decoding="async" alt="Crew on set" class="core-values-img"/>
                </figure>
                <div class="core-values-list right-0 md:place-items-end 2xl:right-40">
                    <div class="core-values-item">
                        <span class="core-number">03</span>
                        <div class="core-caption">
                            <h3 class="core-values">Solidarity</h3>
                            <p>Film is a collective heartbeat. From the Director to the Clapper, we move as one. We prioritize the well-being and unity of our 23-person crew, knowing that a synchronized team creates the most powerful cinema.</p>
                        </div>
                    </div>
                    <div class="core-values-item">
                        <span class="core-number">04</span>
                        <div class="core-caption">
                            <h3 class="core-values">Creativity</h3>
                            <p>We push beyond the "standard" shot. To us, creativity is the courage to experiment with light, shadow, and narrative structure to tell stories that haven't been seen quite like this before.</p>
                        </div>
                    </div>
                </div>
             </div>    
        </section>

        <section class="max-w-7xl mx-auto mt-40 mb-20">
             <div class="grid place-items-center text-center mb-8">
                 <figure class="w-25 aspect-square">
                    <Image src={Logo} alt="Pro Grace Logo" loading="lazy" width={150} height={150} decoding="async"/>
                 </figure>
                 <h2 class="font-display text-[26px] sm:text-4xl font-bold tracking-wide text-nowrap">OUR LOGO</h2>
             </div>
             <div class="grid grid-cols-1 md:grid-cols-2 relative gap-6 p-5 md:gap-15 md:p-0 md:px-5">
                <div class="about-logo-border"></div>
                <div class="flex flex-col items-center md:items-end gap-3 pb-15 md:pb-0">
                    <figure class="w-10 aspect-square">
                        <Image src={Clover} alt="Four Leaf Clover" loading="lazy" decoding="async" width={75} height={75}/>
                    </figure>
                    <h3 class="about-logo-title">Four Leaf Clover</h3>
                    <p class="text-justify font-display tracking-wide text-[14px] sm:text-[16px] md:text-right">Four-leaf clover to us is more than a symbol of luck; it is a representation of the four pillars that support our creative journey. Each leaf carries a distinct meaning: first leaf carries the meaning of Love, the second for Hope in the future, the third for faith in our collective vision, and the fourth for the Luck that finds us when we are truly prepared. By rooting Pro Grace in these values, we ensure that every project we create is guided by sense of purpose and a “good omen” for the stories we bring to life</p>
                </div>
                <div class="flex flex-col items-center md:items-start gap-3">
                    <figure class="w-10 aspect-square">
                        <Image src={Aperture} alt="Camera Aperture" width={75} height={75} loading="lazy" decoding="async"/>
                    </figure> 
                    <h3 class="about-logo-title">Camera Aperture</h3>
                    <p class="text-justify font-display tracking-wide text-[14px] sm:text-[16px] md:text-left">The aperture is the "eye" of the lens, the gateway that dictates the intensity of light. In cinematography, a wider opening allows more light to shine through—a metaphor for how we embrace new opportunities and perspectives. However, we believe the true power of the lens lies in Balance. Just as a photographer meticulously adjusts the aperture to find the perfect exposure, we carefully control our "opening" to the world. We seek to seize every opportunity while maintaining the focus and narrative depth required to make our work truly resonate.</p>
                </div>
             </div>
        </section>

        <section class="max-w-7xl mx-auto my-10">
            <div class="grid text-center place-items-center gap-10 p-5">
                <div>
                    <h2 class="font-serif text-[27px] font-bold tracking-widest md:text-4xl">Let's Build The Narrative.</h2>
                    <p class="font-display opacity-40 text-[14px] md:text-[16px]">Ready to discuss your project's technical and creative requirements?</p>
                </div>
                <a href="/contact" class="gap-2 bg-[#003229] py-2 px-4 font-display font-bold rounded-[10px] tracking-wide transition-all duration-300 hover:bg-[#002d24]">
                    <span>GET IN TOUCH</span>
                </a>
            </div>
        </section>
    </main>
</Layout>
