---
    import { Image } from 'astro:assets';

    import crew from '../data/teams.json'

    import Layout from '../layouts/Layout.astro';
    import CrewCard from '../components/crewCard.astro';
    import Fernanda from '../assets/crew/Fernanda.webp';
    import Jenna from '../assets/crew/Jenna 3.webp';
    import Gita from '../assets/crew/Gita 2.webp';
    import Ani from '../assets/crew/Ani.webp';
    import Yoga from '../assets/crew/Yoga.webp';
    import Anwar from '../assets/crew/Anwar 2.webp';
    import Aldi from '../assets/crew/Aldi.webp';
    import Dapit from '../assets/crew/Dapit.webp';
    import Iskandar from '../assets/crew/Iskandar.webp';
    import Habibi from '../assets/crew/Habib.webp';
    import Raffi from '../assets/crew/Rafi.webp';
    import Fawaz from '../assets/crew/Fawaz.webp';
    import Hara from '../assets/crew/Hara.webp';
    import Ucup from '../assets/crew/Ucup.webp';
    import Gofar from '../assets/crew/Gofar.webp';
    import Lea from '../assets/crew/Lea.webp';
    import Nanda from '../assets/crew/Nanda.webp';
    import Jeni from '../assets/crew/Jeni.webp';
    import Anggia from '../assets/crew/Anggia.webp';
    import Adi from '../assets/crew/Adi 2.webp';
    import Acong from '../assets/crew/Aconk 2.webp';
    import Feli from '../assets/crew/Feli.webp';
    import Bima from '../assets/crew/Bima.webp';

    const col3 = "lg:col-span-3";
    const col4 = "md:col-span-4"
---

    <Layout title='Our Team | Pro Grace Production'>
    <main class="flex items-center justify-center flex-col">
        <section class="max-w-7xl mt-20 px-5 flex flex-col items-center">
            <h1 class="font-heading font-semibold text-2xl tracking-wide text-nowrap md:text-3xl pt-10">Meet Us</h1>
            <h2 class="font-serif text-1xl tracking-wide text-nowrap md:text-2xl pb-10">The Team Who Made LURUH Possible</h2>
            <div class="grid grid-cols-12 gap-6">
                    <CrewCard name={crew.fernanda.name} role={crew.fernanda.role} link={crew.fernanda.instagram} imagePath={Fernanda} col={col4}/>
                    <CrewCard name={crew.jenna.name} role={crew.jenna.role} link={crew.jenna.instagram} imagePath={Jenna} col={col4}/>
                    <CrewCard name={crew.gita.name} role={crew.gita.role} link={crew.gita.instagram} imagePath={Gita} col={col4}/>
                    <CrewCard name={crew.fitriyani.name} role={crew.fitriyani.role} link={crew.fitriyani.instagram} imagePath={Ani} col={col3}/>
                    <CrewCard name={crew.yoga.name} role={crew.yoga.role} link={crew.yoga.instagram} imagePath={Yoga} col={col3}/>
                    <CrewCard name={crew.anwar.name} role={crew.anwar.role} link={crew.anwar.instagram} imagePath={Anwar}/ col={col3}/>
                    <CrewCard name={crew.aldi.name} role={crew.aldi.role} link={crew.aldi.instagram} imagePath={Aldi} col={col3}/>
                    <CrewCard name={crew.dapit.name} role={crew.dapit.role} link={crew.dapit.instagram} imagePath={Dapit} col={col3}/>
                    <CrewCard name={crew.iskandar.name} role={crew.iskandar.role} link={crew.iskandar.instagram} imagePath={Iskandar} col={col3}/>
                    <CrewCard name={crew.habib.name} role={crew.habib.role} link={crew.habib.instagram} imagePath={Habibi} col={col3}/>
                    <CrewCard name={crew.rafi.name} role={crew.rafi.role} link={crew.rafi.instagram} imagePath={Raffi} col={col3}/>
                    <CrewCard name={crew.fawaz.name} role={crew.fawaz.role} link={crew.fawaz.instagram} imagePath={Fawaz} col={col3}/>
                    <CrewCard name={crew.hara.name} role={crew.hara.role} link={crew.hara.instagram} imagePath={Hara} col={col3}/>
                    <CrewCard name={crew.ucup.name} role={crew.ucup.role} link={crew.ucup.instagram} imagePath={Ucup} col={col3}/>
                    <CrewCard name={crew.gofar.name} role={crew.gofar.role} link={crew.gofar.instagram} imagePath={Gofar} col={col3}/>
                    <CrewCard name={crew.lea.name} role={crew.lea.role} link={crew.lea.instagram} imagePath={Lea} col={col3}/>
                    <CrewCard name={crew.nanda.name} role={crew.nanda.role} link={crew.nanda.instagram} imagePath={Nanda} col={col3}/>
                    <CrewCard name={crew.jeni.name} role={crew.jeni.role} link={crew.jeni.instagram} imagePath={Jeni} col={col3}/>
                    <CrewCard name={crew.anggia.name} role={crew.anggia.role} link={crew.anggia.instagram} imagePath={Anggia} col={col3}/>
                    <CrewCard name={crew.adi.name} role={crew.adi.role} link={crew.adi.instagram} imagePath={Adi} col={col3}/>
                    <CrewCard name={crew.acong.name} role={crew.acong.role} link={crew.acong.instagram} imagePath={Acong} col={col3}/>
                    <CrewCard name={crew.feli.name} role={crew.feli.role} link={crew.feli.instagram} imagePath={Feli} col={col3}/>
                    <CrewCard name={crew.bima.name} role={crew.bima.name} link={crew.bima.instagram} imagePath={Bima} col={col3}/>
                
            </div>
        </section>
        <section class="max-w-7xl flex flex-col items-center my-20 md:my-30 gap-10">
            <h3 class="font-serif tracking-widest text-2xl font-bold">Ready To Collaborate?</h3>
            <a href="/contact" class="py-2 px-4 rounded-[10px] bg-[#003229] font-display font-bold tracking-wide transition-all duration-300 hover:bg-[#002d24] cursor-pointer">GET IN TOUCH</a>
        </section>
    </main>
    </Layout>